@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      #EEE9DA
    )
    #EEE9DA;
}
.main {
  padding: 5rem
}
.helloWorld {
  color: teal;
  font-size: 30px;
  padding-bottom: 2rem
}

.dataTitle {
  color: teal;
  font-size: 40px;
  padding-bottom: 2rem
}
.productName {
  padding: 5px;
  font-size: 20px;
}
.productDescription {
  padding: 5px;
}

.productList {
  padding: 5px;
  border-radius: 12px;
  }
.productButton {
  background-color: teal;
  padding: 5px;
  border-radius: 12px;
  margin: 4px 4px;
}
.addForm {
  color: #6096B4;
}
.card {
  transition: transform 0.3s ease;
}

.slide-out {
  transform: translateY(-100%);
}
